<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
        <script>
            var id = '<%= name %>';
            function timestampOption(){
                $.getJSON("/metrics/"+id, {}, (data) => {
                    const content = data.map(d => {
                        var option = document.createElement("option");
                        option.value = d.timestamp;
                        option.text = d.timestamp;
                        document.getElementById("updateTimestamp").appendChild(option);
                    })
                });
            };
            function deleteOption(){
                $.getJSON("/metrics/"+id, {}, (data) => {
                    const content = data.map(d => {
                        var option = document.createElement("option");
                        option.value = d.timestamp;
                        option.text = d.timestamp;
                        document.getElementById("deleteTimestamp").appendChild(option);
                   })
                });
            }
            function getTimestamps(){
                var tab = []
                $.getJSON("/metrics/"+id, {}, (data) => {
                    const content = data.map(d => {
                        tab.push({ x : d.timestamp , y : d.value})              
                    })
                });
                return tab;
            }

                window.onload = function () {
                console.log("timestamps")
                console.log(tab)
                
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        text: id+"'s graph"
                    },
                    axisY:{
                        includeZero: false
                    },
                    data: [{        
                        type: "line",       
                        dataPoints: tab
                    }]
                });
                chart.render();
              }
              </script>
    </head>
    <body class="container" style="background-color: #ffffff;">
        <div class="col-md-6 col-md-offset-3">
                <div style="background-color: #F1F5F1;margin-top: 20px; border-radius: 20px; padding: 10px 30px;"><h1>Hello <%= name %></h1></div>
                
                <button class="btn btn-success" id="show-metrics" style="margin-top: 20px;">
                Bring the metrics
                </button>
                <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"' style="margin-top: 20px;">
                    Logout
                </button>
                <div id="metrics" style="margin-top: 10px; background-color: #F1F5F1; border-radius: 15px; padding-left: 10px;"></div>
        </div>

        <!-- ADD -->
        <div class = "row" style="background-color: #F1F5F1; margin-top: 20px; border-radius: 20px;" >
            <div class="col-md" style="margin: 30px 20px;">
                <h3>Add a metric</h3>
                <form method="post" id="addForm"> 
                    <div class="form-group">
                        <label for="addValue">Value</label>
                        <input type="text" class="form-control" id="addValue" name="addValue" placeholder="Enter value" required>
                    </div>
                    <button type="submit" class="btn btn-success" id="add-metric">Validate</button>
                </form>
            </div>

            <!-- UPDATE -->
            <div class="col-md" style="margin: 30px 20px;">
                <h3>Update a metric</h3>
                <form method="post" id="updateForm"> 
                    <div class="form-group">
                        <label for="updateTimestamp">Timestamp</label>
                        <select class="form-control" id="updateTimestamp" name="updateTimestamp">
                           <script>timestampOption();</script> 
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="updateValue">Value</label>
                        <input type="text" class="form-control" id="updateValue" name="updateValue" placeholder="Enter value" required>
                    </div>
                    <button type="submit" class="btn btn-success" id="update-metric">Validate</button>
                </form>
            </div>

            <!-- DELETE -->
            <div class="col-md" style="margin: 30px 20px;">
                <h3>Delete a metric</h3>
                <div>
                    <label for="deleteTimestamp">Timestamp</label>
                    <select id= "deleteTimestamp" class="form-control" name="deleteTimestamp">
                        <script>deleteOption();</script> 
                    </select>
                </div>
                <button type="submit" class="btn btn-danger" id="delete-metric" onClick="deleteMetric()" style="margin-top: 15px;">Delete</button>
            </div> 
        </div> 
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </body>

    <script>
        var id = '<%= name %>';
        $('#show-metrics').click((e) => {
            e.preventDefault();
            $.getJSON("/metrics/"+id, {}, (data) => {
            const content = data.map(d => {
                return 'timestamp: '+d.timestamp+', value: '+d.value+'<br>';
            })
            $('#metrics').append(content.join("\n"));
            });
        })

        $("#addForm").submit((e)=>{
            $("#addForm").attr("action", "/metrics/"+id);
        }) 
        
        $("#updateForm").submit((e)=>{
            var updateTimestamp = document.getElementById("updateTimestamp").value; 
            var updateValue = document.getElementById("updateValue").value; 
            $("#updateForm").attr("action", "/metrics/"+id+"/"+updateTimestamp);
        })   

        function deleteMetric(){
            var selectBox = document.getElementById("deleteTimestamp");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;

            $.ajax({
                    type: "DELETE",
                    url: '/metrics/'+id+'/'+selectedValue,
                }).done(function (msg) {
                    document.location.reload(true)
                });
        }
    </script>
</html>